<div class="row">
    <div class="title">SPRAWDŹ JAKIM JESTEŚ TYPEM URODY</div>

    <div ng-class="testCtrl.testColor" class="panel panel-warning"><img src="../images/liv.jpg" class="img-thumbnail liv"></div>

</div>
<div class="row">
<div class="col-md-offset-2">
    <label>Sprawdź: jesteś chłodnym czy ciepłym typem urody?</label>
    <button type="button" ng-click="testCtrl.changeTestColor('silver')" class="btn  btn-lg silver">SILVER</button>
    <button type="button" ng-click="testCtrl.changeTestColor('gold')" class="btn  btn-lg gold ">GOLD</button>
</div>

</div>
<div class="row col-md-offset-5">
    <button class="btn btn-large confirm" type="button">Potwierdź</button>
</div>



<div class="row col-md-offset-4 seasons">

    <button class="btn btn-success" type="button">Wiosna</button>
    <button class="btn btn-warning" type="button">Lato</button>
    <button class="btn btn-danger" type="button">Jesień</button>
    <button class="btn btn-info" type="button">Zima</button>
</div>
